<?xml version="1.0"?>
<!--
/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* =================================================================
*                 MAGENTO EDITION USAGE NOTICE
* =================================================================
* This package designed for Magento COMMUNITY edition
* BSS Commerce does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* BSS Commerce does not provide extension support in case of
* incorrect edition usage.
* =================================================================
*
* @category   BSS
* @package    Bss_BundleOptionImage
* @author     Extension Team
* @copyright  Copyright (c) 2014-2016 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bundle_option_image>
            <general>
                <active>1</active>
                <class_option_bundle>input.bundle.option,select.bundle.option,.option>.control>input</class_option_bundle>
            </general>
            <img>
                <product_image_width>75</product_image_width>
                <product_image_height>75</product_image_height>
            </img>
            <multiple_option>
                <number_item>3</number_item>
                <speed_slide>500</speed_slide>
                <slide_auto>1</slide_auto>
            </multiple_option>
        </bundle_option_image>
    </default>
</config>